.advantages {
  background-image: url("../img/background/advantages-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba($color-tangaroa, 0.3);
  padding-top: 110px;
  padding-bottom: 120px;
  //margin-right: -15px;

  @include retina {
    background-image: url("../img/background/advantages-background@2x.jpeg");
  }

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 100px;
    //margin-right: 0;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 65px;
  }

  h2 {
    padding: 0;
    margin: 0 0 49px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: $color-tangaroa;
    text-align: center;

    @include vp-1023 {
      margin: 0 0 48px;
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 36px;
      margin: 0 0 29px;
    }
  }
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.advantages__item {
  background-color: $color-alice-blue;
  padding: 30px 34px 45px 30px;

  @include vp-1023 {
    padding: 26px 10px 20px 20px;
  }

  @include vp-767 {
    padding: 26px 14px 19px 20px;
  }

  h3 {
    padding: 0;
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    @include vp-767 {
      padding-right: 60px;
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  br {
    @include vp-1023 {
      display: none;
    }
  }
}

.advantages__icon {
  margin-bottom: 14px;

  @include vp-1023 {
    height: 26px;
    width: auto;
  }
}
