.contacts {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-alice-blue;
  margin-right: -15px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 37px;
    padding-bottom: 66px;
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include vp-1023 {
    gap: 13px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column-reverse;
  }
}

.contacts__map {
  background-color: rgba($color-tangaroa, 0.3);
  background-image: url("../img/background/map.jpeg");
  background-repeat: no-repeat;
  height: 306px;
  min-width: 310px;
  background-size: cover;
  align-self: center;
  display: flex;
  justify-content: center;

  @include retina {
    background-image: url("../img/background/map@2x.jpeg");
  }

  @include vp-1023 {
    margin-right: 15px;
    min-height: 335px;
    min-width: 310px;
  }

  @include vp-767 {
    min-width: 290px;
    width: 100%;
    min-height: 316px;
  }

  .ymaps-map {
    width: 290px;
  }
}

.contacts__block {
  display: flex;
  flex-direction: column;
  margin-left: 53px;
  justify-content: center;

  @include vp-1023 {
    margin-left: 0;
  }

  p {
    padding: 0;
    margin: 22px 0 29px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    @include vp-1023 {
      margin: 20px 0 27px;
    }
  }
}

.contacts__link {
  display: flex;
  width: fit-content;
  margin-bottom: 24px;

  @include vp-1023 {
    margin-bottom: 22px;
  }

  &--address {
    min-width: 255px;

    @include hover-focus {
      opacity: 1;
      cursor: default;
    }
  }
}

.contacts__link-text {
  line-height: 24px;
  margin-left: 5px;

  @include vp-1023 {
    display: block;
    margin: 0;
  }
}

.contacts__icon {
  min-width: 23px;

  @include vp-1023 {
    min-width: 30px;
    margin: 4px 2px 0 -4px;
  }
}
